<html lang="en">
<head>
    <script type="module" src="https://cdn.skypack.dev/@hotwired/turbo"></script>
    <meta charset="utf-8">
    <title>GotWire - New Note</title>
</head>
<body>
<h1>Add A New Note</h1>
{{ template "nav.gohtml" . }}
<turbo-frame id="new_note">
<form action="/note/new" data-turbo-frame="new_note">
    <input type="textarea" name="new_note">
</form>
</turbo-frame>
</body>
</html>